{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }],["babel-plugin-styled-components",{"displayName": false,"fileName": false},"babel-plugin-styled-components"]]
}
// "displayName": false,"fileName": false
